In [494]:
import numpy as np
import pandas as pd

In [495]:
df_mh=pd.read_excel("rollingsales_manhattan.xls",skiprows=4)
# df_mh.columns=df_mh.columns.str.replace(' ', '_')
df_mh.columns.tolist()

['BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE']

In [496]:
# df_mh_17=pd.read_excel("2017_manhattan.xls",skiprows=4)
# df_mh_17.columns=df_mh_17.columns.str.replace('\n', '')
# # df_mh_17=df_mh_17['NEIGHBORHOOD','YEAR_BUILT','GROSS_SQUARE_FEET','SALE_PRICE']
# df_mh_17.columns.tolist()



# df_mh_17.head()

In [497]:
def get_columns(df,col):
#     df.columns = df.columns.str.replace(' ', '_')
    df.columns=df.columns.str.replace('\n','')
    df=df[col]
    return df

In [498]:
def load_data():
#     col=['BOROUGH', 'BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','TAX CLASS AT TIME OF SALE','SALE PRICE']
    df_mh=pd.read_excel("rollingsales_manhattan.xls",skiprows=4)
#     df_mh=get_columns(df_mh,col)
    
    df_bk=pd.read_excel("rollingsales_brooklyn.xls",skiprows=4)
#     df_bk=get_columns(df_bk,col)
    
    df_bx=pd.read_excel("rollingsales_bronx.xls",skiprows=4)
#     df_bx=get_columns(df_bx,col)
    
    df_qs=pd.read_excel("rollingsales_queens.xls",skiprows=4)
#     df_qs=get_columns(df_qs,col)
    
    df_si=pd.read_excel("rollingsales_statenisland.xls",skiprows=4)
#     df_si=get_columns(df_si,col)
    
    df2018=pd.concat([df_mh,df_bk,df_bx,df_qs,df_si])
    
#     df_mh_17=pd.read_excel("2017_manhattan.xls",skiprows=4)
#     df_mh_17=get_columns(df_mh_17,col)
    
#     df_bk_17=pd.read_excel("2017_brooklyn.xls",skiprows=4)
#     df_bk_17=get_columns(df_bk_17,col)
    
#     df_bx_17=pd.read_excel("2017_bronx.xls",skiprows=4)
#     df_bx_17=get_columns(df_bx_17,col)
    
#     df_qs_17=pd.read_excel("2017_queens.xls",skiprows=4)
#     df_qs_17=get_columns(df_qs_17,col)
    
#     df_si_17=pd.read_excel("2017_statenisland.xls",skiprows=4)
#     df_si_17=get_columns(df_si_17,col)
    
#     df=pd.concat([df2018,df_mh_17,df_bk_17,df_bx_17,df_qs_17,df_si_17])
    df=df2018
    df=df.drop('EASE-MENT', 1)
    df=df.drop('APARTMENT NUMBER', 1)
    df=df.dropna()
    return df

In [501]:
df=load_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81683 entries, 0 to 8385
Data columns (total 19 columns):
BOROUGH                           81683 non-null int64
NEIGHBORHOOD                      81683 non-null object
BUILDING CLASS CATEGORY           81683 non-null object
TAX CLASS AT PRESENT              81683 non-null object
BLOCK                             81683 non-null int64
LOT                               81683 non-null int64
BUILDING CLASS AT PRESENT         81683 non-null object
ADDRESS                           81683 non-null object
ZIP CODE                          81683 non-null float64
RESIDENTIAL UNITS                 81683 non-null float64
COMMERCIAL UNITS                  81683 non-null float64
TOTAL UNITS                       81683 non-null float64
LAND SQUARE FEET                  81683 non-null float64
GROSS SQUARE FEET                 81683 non-null float64
YEAR BUILT                        81683 non-null float64
TAX CLASS AT TIME OF SALE         81683 non-null int64
BUILDING CLASS AT TIME OF SALE    81683 non-null object
SALE PRICE                        81683 non-null int64
SALE DATE                         81683 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(5), object(6)
memory usage: 12.5+ MB

In [502]:
df.shape

(81683, 19)

In [503]:
def selec_features(features):
    df_select=df[features]
    df_select=df_select[df_select['SALE PRICE']>0]
    X = df_select.drop(['SALE PRICE'], axis=1)
    Y = df_select['SALE PRICE']
    return X,Y

In [504]:
# select neighborhood / BLOCK + GROSS_SQUARE_FEET
features_selected=[
 'BOROUGH',
#  'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
#  'BUILDING CLASS AT PRESENT',
#  'ADDRESS',
#  'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
#  'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE']
# features_selected=['BLOCK','GROSS_SQUARE_FEET','SALE_PRICE']
X,Y=selec_features(features_selected)
X=pd.get_dummies(X, columns=['BOROUGH','BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','TAX CLASS AT TIME OF SALE'])
# X=pd.get_dummies(X, columns=['BLOCK'])
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56963 entries, 0 to 8384
Data columns (total 71 columns):
BLOCK                                                                 56963 non-null int64
LOT                                                                   56963 non-null int64
ZIP CODE                                                              56963 non-null float64
RESIDENTIAL UNITS                                                     56963 non-null float64
COMMERCIAL UNITS                                                      56963 non-null float64
TOTAL UNITS                                                           56963 non-null float64
LAND SQUARE FEET                                                      56963 non-null float64
GROSS SQUARE FEET                                                     56963 non-null float64
YEAR BUILT                                                            56963 non-null float64
BOROUGH_1                                                             56963 non-null uint8
BOROUGH_2                                                             56963 non-null uint8
BOROUGH_3                                                             56963 non-null uint8
BOROUGH_4                                                             56963 non-null uint8
BOROUGH_5                                                             56963 non-null uint8
BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS                       56963 non-null uint8
BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                       56963 non-null uint8
BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                     56963 non-null uint8
BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS                         56963 non-null uint8
BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND                    56963 non-null uint8
BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER                        56963 non-null uint8
BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS                56963 non-null uint8
BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS              56963 non-null uint8
BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS                  56963 non-null uint8
BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS                56963 non-null uint8
BUILDING CLASS CATEGORY_11A CONDO-RENTALS                             56963 non-null uint8
BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS                 56963 non-null uint8
BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS               56963 non-null uint8
BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                        56963 non-null uint8
BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL             56963 non-null uint8
BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT    56963 non-null uint8
BUILDING CLASS CATEGORY_17 CONDO COOPS                                56963 non-null uint8
BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS                           56963 non-null uint8
BUILDING CLASS CATEGORY_22 STORE BUILDINGS                            56963 non-null uint8
BUILDING CLASS CATEGORY_23 LOFT BUILDINGS                             56963 non-null uint8
BUILDING CLASS CATEGORY_25 LUXURY HOTELS                              56963 non-null uint8
BUILDING CLASS CATEGORY_26 OTHER HOTELS                               56963 non-null uint8
BUILDING CLASS CATEGORY_27 FACTORIES                                  56963 non-null uint8
BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS                          56963 non-null uint8
BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES                         56963 non-null uint8
BUILDING CLASS CATEGORY_30 WAREHOUSES                                 56963 non-null uint8
BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND                     56963 non-null uint8
BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES             56963 non-null uint8
BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES                     56963 non-null uint8
BUILDING CLASS CATEGORY_34 THEATRES                                   56963 non-null uint8
BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES      56963 non-null uint8
BUILDING CLASS CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES            56963 non-null uint8
BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES                       56963 non-null uint8
BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES                          56963 non-null uint8
BUILDING CLASS CATEGORY_39 TRANSPORTATION FACILITIES                  56963 non-null uint8
BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER                        56963 non-null uint8
BUILDING CLASS CATEGORY_42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC     56963 non-null uint8
BUILDING CLASS CATEGORY_43 CONDO OFFICE BUILDINGS                     56963 non-null uint8
BUILDING CLASS CATEGORY_44 CONDO PARKING                              56963 non-null uint8
BUILDING CLASS CATEGORY_45 CONDO HOTELS                               56963 non-null uint8
BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                      56963 non-null uint8
BUILDING CLASS CATEGORY_47 CONDO NON-BUSINESS STORAGE                 56963 non-null uint8
BUILDING CLASS CATEGORY_48 CONDO TERRACES/GARDENS/CABANAS             56963 non-null uint8
BUILDING CLASS CATEGORY_49 CONDO WAREHOUSES/FACTORY/INDUS             56963 non-null uint8
TAX CLASS AT PRESENT_1                                                56963 non-null uint8
TAX CLASS AT PRESENT_2                                                56963 non-null uint8
TAX CLASS AT PRESENT_4                                                56963 non-null uint8
TAX CLASS AT PRESENT_1A                                               56963 non-null uint8
TAX CLASS AT PRESENT_1B                                               56963 non-null uint8
TAX CLASS AT PRESENT_1C                                               56963 non-null uint8
TAX CLASS AT PRESENT_1D                                               56963 non-null uint8
TAX CLASS AT PRESENT_2A                                               56963 non-null uint8
TAX CLASS AT PRESENT_2B                                               56963 non-null uint8
TAX CLASS AT PRESENT_2C                                               56963 non-null uint8
TAX CLASS AT TIME OF SALE_1                                           56963 non-null uint8
TAX CLASS AT TIME OF SALE_2                                           56963 non-null uint8
TAX CLASS AT TIME OF SALE_4                                           56963 non-null uint8
dtypes: float64(7), int64(2), uint8(62)
memory usage: 7.7 MB

In [505]:
# import seaborn as sns
# data=X
# data['SALE PRICE']=Y
# data.head()
# corr = data.corr()
# sns.heatmap(corr)

In [523]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.25)

In [524]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

# def rmse(y_test,y_pred):
#       return np.sqrt(mean_squared_error(y_test,y_pred))

def model_score(model):
    model=model
    model.fit(X_train, Y_train)
    Y_pred=model.predict(X_test)
    score=model.score(X_test, Y_test)
#     rmse=rmse(Y_test,Y_pred)
    return score

In [525]:
model=RandomForestRegressor(max_depth=50)
print(features_selected)
print("RandomForestRegressor:"+str(model_score(model)))
s = cross_val_score(model, X_train,Y_train, cv=10).mean()
print(s)


# importance = model.feature_importances_
# importance.argsort()

['BOROUGH', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'SALE PRICE']

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor:0.5199441490403898
0.6462618655421686

In [526]:
model=GradientBoostingRegressor(max_depth=6,learning_rate=0.05,n_estimators=500)
print(features_selected)
score=model_score(model)
print("GradientBoostingRegressor:"+str(score))
# s = cross_val_score(model, X_train,Y_train, cv=10, scoring="r2").mean()
# print(s)
importance = model.feature_importances_
importance.argsort()

['BOROUGH', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'SALE PRICE']
GradientBoostingRegressor:0.5386151885078622

array([57, 25, 64, 63, 15, 16, 17, 30, 56, 61, 19, 44, 28, 37, 29, 48, 55,
       66, 65, 68, 58, 45, 47, 67, 50, 13, 23, 18, 14, 62, 54, 27, 39, 10,
       36, 21, 53, 46, 69, 52, 49, 59, 41, 33, 20, 22, 12, 24, 70, 60, 11,
       42, 31,  9, 40, 38,  3, 35, 26, 51, 32,  5,  0,  8,  2,  4,  1, 34,
        6, 43,  7])

In [527]:
importance = model.feature_importances_
importance.argsort()

array([57, 25, 64, 63, 15, 16, 17, 30, 56, 61, 19, 44, 28, 37, 29, 48, 55,
       66, 65, 68, 58, 45, 47, 67, 50, 13, 23, 18, 14, 62, 54, 27, 39, 10,
       36, 21, 53, 46, 69, 52, 49, 59, 41, 33, 20, 22, 12, 24, 70, 60, 11,
       42, 31,  9, 40, 38,  3, 35, 26, 51, 32,  5,  0,  8,  2,  4,  1, 34,
        6, 43,  7])